.postContent {
  font-size: 34px;
  line-height: 43px;
  margin-bottom: .4em;
}

.postMeta {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.postMetaData {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-top: .4em;
  margin-right: 1em;

  svg {
    font-size: .8em;
    margin-right: .3em;
  }
}